@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  height: auto;
  padding: 10px;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-nav {
  width: 85%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-nav .header-login {
  display: block;
  display: flex;
  gap: 20px;
}
.header .header-nav .header-login .header-btn1 {
  width: 119px;
  height: 55px;
  background-color: transparent;
  border: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #707070;
  transition: 0.4s;
}
.header .header-nav .header-login .header-btn1:hover {
  border: 1px solid #3C82F4;
  color: #3C82F4;
  border-radius: 10px;
}
.header .header-nav .header-login .header-btn2 {
  width: 119px;
  height: 55px;
  background-color: #306EF7;
  border: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
  transition: 0.4s;
}
.header .header-nav .header-login .header-btn2:hover {
  background: transparent;
  border: 1px solid #3C82F4;
  color: #3C82F4;
}
.header .header-nav .header-list {
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  gap: 30px;
}
.header .header-nav .header-list .select {
  border: none;
  background: transparent;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #707070;
}
.header .header-nav .header-list ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header .header-nav .header-list ul li a {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #707070;
  padding: 10px 10px;
}
.header .header-nav .header-list ul li a:hover {
  color: #3C82F4;
  width: 100%;
  border-bottom: 1px solid #3C82F4;
}
.header .header-nav .header-list ul #Pricing {
  color: #3C82F4;
}

@media (max-width: 1230px) {
  .header .header-nav {
    width: 90%;
    justify-content: space-between;
  }
  .header .header-nav .header-list {
    display: none;
  }
}
main {
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 200px;
  z-index: 100;
}

.hero {
  width: 100%;
  height: auto;
  margin-top: 5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.hero .hero-text {
  font-size: 70px;
  color: aliceblue;
  font-family: Poppins;
  font-weight: 700;
  line-height: 90px;
}
.hero .hero-desc {
  font-family: Poppins;
  font-size: 76px;
  font-weight: bold;
  background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
  -webkit-background-clip: text;
  color: transparent;
}
.hero .hero-invitation {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.hero .hero-invitation .hero-invitation-h2 {
  font-family: Poppins;
  font-size: 35px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}
.hero .hero-invitation .hero-invitation-button {
  height: auto;
  display: flex;
  gap: 10px;
}
.hero .hero-invitation .hero-invitation-button .hero-invitation-button-1 {
  width: 313px;
  height: 77px;
  background-color: #326CF9;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.hero .hero-invitation .hero-invitation-button .hero-invitation-button-1:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}
.hero .hero-invitation .hero-invitation-button .hero-invitation-button-2 {
  width: 313px;
  height: 77px;
  background-color: transparent;
  border: 1px solid #707070;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #707070;
}
.hero .hero-invitation .hero-invitation-button .hero-invitation-button-2:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}
.hero .hero-invitation .hero-invitation-desc {
  display: flex;
  gap: 10px;
}
.hero .hero-invitation .hero-invitation-desc span {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  color: #FFFFFF;
}
.hero .hero-invitation .hero-invitation-desc p {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  text-align: center;
  color: #707070;
}

@media (min-width: 1200px) {
  .hero .hero-text {
    font-size: 120px;
  }
  .hero .hero-desc {
    font-size: 120px;
  }
  .hero .hero-invitation {
    width: 700px;
  }
}
.creators {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
}
.creators h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}
.creators .creators-edit {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}
.creators .creators-edit .creators-edit-reduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2e2e2e;
  padding: 20px;
  border-radius: 10px;
}
.creators .creators-edit .creators-edit-reduce h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.creators .creators-edit .creators-edit-reduce h2 img {
  width: 24px;
  height: 24px;
}
.creators .creators-edit .creators-edit-reduce h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: #707070;
}
.creators .creators-step {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.creators .creators-step p {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  color: #3D82F2;
}
.creators .creators-step h1 {
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  text-align: center;
  color: #FFFFFF;
}
.creators .creators-step h3 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #707070;
}
.creators .creators-step button {
  width: 313px;
  height: 77px;
  top: 1838px;
  left: 803px;
  gap: 0px;
  opacity: 0px;
  background-color: transparent;
  border: 1px solid #707070;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #707070;
}
.creators .creators-step button:hover {
  background: #008cff;
  border: 1px solid #008cff;
  color: #FFFFFF;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}

@media (min-width: 600px) {
  .creators .creators-edit {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (min-width: 900px) {
  .creators h1 {
    font-size: 50px;
  }
  .creators .creators-edit {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  .creators .creators-edit-reduce {
    padding: 30px;
  }
  .creators .creators-edit-reduce h2 {
    font-size: 28px;
  }
  .creators .creators-edit-reduce h2 img {
    width: 28px;
    height: 28px;
  }
  .creators .creators-edit-reduce h4 {
    font-size: 18px;
  }
}
@media (min-width: 1350px) {
  .creators .creators-step {
    width: 60%;
  }
}
.homepage {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.homepage .homepage-text {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  gap: 30px;
}
.homepage .homepage-text .homepage-text-desc {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #FFFFFF;
}
.homepage .homepage-text .homepage-art {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.homepage .homepage-text .homepage-art h1 {
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  text-align: left;
  color: #FFFFFF;
}
.homepage .homepage-text .homepage-art h1 span {
  color: #3C82F4;
}
.homepage .homepage-text .homepage-art h4 {
  font-family: Poppins;
  font-size: 23px;
  font-weight: 400;
  line-height: 84px;
  text-align: left;
  color: #FFFFFF;
}
.homepage .homepage-text .homepage-art h4 span {
  padding: 15px 15px;
  background-color: #2D2D2D;
  color: white;
  border-radius: 50%;
}
.homepage .homepage-text .homepage-art .homepage-text-button {
  display: flex;
  gap: 20px;
}
.homepage .homepage-text .homepage-art .homepage-text-button .homepage-text-button-1 {
  width: 207px;
  height: 65px;
  background-color: #326CF9;
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.homepage .homepage-text .homepage-art .homepage-text-button .homepage-text-button-1:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}
.homepage .homepage-text .homepage-art .homepage-text-button .homepage-text-button-2 {
  width: 207px;
  height: 65px;
  background: transparent;
  border: 1px solid #707070;
  color: #707070;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.homepage .homepage-text .homepage-art .homepage-text-button .homepage-text-button-2:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}

@media (min-width: 1200px) {
  .homepage {
    flex-direction: row;
  }
}
.step-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.step-2 .creators-step {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.step-2 .creators-step p {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  color: #3D82F2;
}
.step-2 .creators-step h1 {
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  text-align: center;
  color: #FFFFFF;
}
.step-2 .creators-step h3 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #707070;
}
.step-2 .step-2-link {
  display: flex;
  flex-direction: column;
}
.step-2 .step-2-link .s2gBaric {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.step-2 .step-2-link .s2gBaric h3 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  color: #0FC65C;
}
.step-2 .step-2-link .s2gBaric h1 {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 600;
  line-height: 120px;
  text-align: left;
  color: #919191;
}
.step-2 .step-2-link .s2gBaric h2 {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 600;
  line-height: 120px;
  text-align: left;
  color: #FFFFFF;
}
.step-2 .step-2-link .s2gsusake {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.step-2 .step-2-link .s2gsusake h3 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  color: #0FC65C;
}
.step-2 .step-2-link .s2gsusake .s2gsusake-text h2 {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 700;
  line-height: 93px;
  text-align: left;
  color: #919191;
}
.step-2 .step-2-link .s2gsusake .s2gsusake-text h3 {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 700;
  line-height: 93px;
  text-align: left;
  color: #FFFFFF;
}

@media (min-width: 1350px) {
  .step-2 .creators-step {
    width: 80%;
  }
  .step-2 .step-2-link {
    flex-direction: row;
  }
  .step-2 .step-2-link .s2gsusake .s2gsusake-text {
    margin-top: 5cm;
  }
}
.step-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-3 .creators-step {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.step-3 .creators-step p {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  color: #3D82F2;
}
.step-3 .creators-step h1 {
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  text-align: center;
  color: #FFFFFF;
}
.step-3 .creators-step h3 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #707070;
}

@media (min-width: 1350px) {
  .step-3 .creators-step {
    width: 80%;
  }
}
.experts {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.experts h1 {
  font-family: Poppins;
  font-size: 75px;
  font-weight: 600;
  line-height: 112px;
  text-align: left;
  color: #FFFFFF;
}
.experts img {
  width: 100%;
}

.helped {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-image: url("../../img/Image-5.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.helped h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .helped h1 {
    font-size: 48px;
  }
}
@media (min-width: 900px) {
  .helped h1 {
    font-size: 60px;
  }
}
.get {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.get .get-imfg {
  width: 300px;
  height: 250px;
}
.get h1 {
  font-family: Poppins;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  text-align: left;
  color: #FFFFFF;
}
.get h3 {
  font-family: Poppins;
  font-size: 43px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  color: #FFFFFF;
}
.get button {
  width: 472px;
  height: 102px;
  background-color: #326CF9;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  color: #FFFFFF;
}
.get button:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}
.get .hero-invitation-desc {
  display: flex;
  gap: 5px;
}
.get .hero-invitation-desc span {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  text-align: left;
  color: #FFFFFF;
}
.get .hero-invitation-desc p {
  font-family: Poppins;
  font-size: 38px;
  font-weight: 400;
  line-height: 57px;
  text-align: center;
  color: #707070;
}

footer {
  width: 85%;
  position: relative;
  top: 120px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
footer ul li a {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  color: #707070;
}
footer ul li a:hover {
  color: #326DF9;
}
footer ul #soo {
  color: #326DF9;
}