
footer{
    width: 85%;
position: relative;
top: 120px;
margin: 0 auto;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;

ul{
    list-style: none;
    display: flex;
    gap: 30px;
    li a{
        font-family: Poppins;
font-size: 28px;
font-weight: 500;
line-height: 42px;
text-align: left;
color: #707070;
&:hover{
    color: #326DF9;
}
    }
    #soo{
        color: #326DF9;
    }
}
}