
.get{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    .get-imfg{
        width: 300px;
        height: 250px;
    }
    h1{
        font-family: Poppins;
font-size: 100px;
font-weight: 700;
line-height: 150px;
text-align: left;
color: #FFFFFF;
    }
    h3{
        font-family: Poppins;
font-size: 43px;
font-weight: 400;
line-height: 64px;
text-align: left;
color: #FFFFFF;
    }
    button{
        width: 472px;
height: 102px;
background-color: #326CF9;
border-radius: 10px;
font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 45px;
color: #FFFFFF;
&:hover{
    color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
    }
    .hero-invitation-desc{
        display: flex;
        gap: 5px;
        span{
            font-family: Poppins;
font-size: 38px;
font-weight: 700;
line-height: 57px;
text-align: left;
color: #FFFFFF;
        }
        p{
            font-family: Poppins;
font-size: 38px;
font-weight: 400;
line-height: 57px;
text-align: center;
color: #707070;
        }
    }
}